<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <!-- mongodb 查询模板-->
    <mongo:mongo replica-set="localhost:27017" id="mongo">
        <mongo:options
                auto-connect-retry="true"
                max-auto-connect-retry-time="15000"
                connections-per-host="20" max-wait-time="10000"
                threads-allowed-to-block-for-connection-multiplier="10"/>
    </mongo:mongo>
<!--    <bean id="mongoClient" class="com.mongodb.MongoClient">-->
<!--        <constructor-arg>-->
<!--            <list>-->
<!--                <value>localhost:27017</value>-->
<!--                <value>localhost:27017</value>-->
<!--            </list>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
    <mongo:db-factory dbname="tocoo" mongo-ref="mongo" id="mongoFactory"/>
    <bean id="mappingMongoConverter"
          class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
        <constructor-arg name="mongoDbFactory" ref="mongoFactory"/>
        <constructor-arg name="mappingContext" ref="mappingContext"/>
        <property name="typeMapper" ref="defaultMongoTypeMapper"/>
    </bean>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoFactory"/>
        <constructor-arg name="mongoConverter" ref="mappingMongoConverter"/>
    </bean>


    <bean id="mappingContext"
          class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"/>

    <bean id="defaultMongoTypeMapper"
          class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
        <constructor-arg name="typeKey">
            <null/>
        </constructor-arg>
    </bean>
</beans>